/* Footer.module.css */
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  flex-wrap: wrap;
}

.footerColumn {
  flex: 1;
  margin-right: 20px;
}

.footerLogo {
  font-size: 1.5rem;
}

.footerList {
  list-style-type: none;
  padding: 0;
}

.footerListItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.footerText {
  margin-bottom: 10px;
}
